<footer>
  <div class="footer-content container">
    <div class="link">
      <h3>tutule</h3>
      <ul>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
      </ul>
    </div>
    <div class="link">
      <h3>tutule</h3>
      <ul>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
      </ul>
    </div>
    <div class="link">
      <h3>tutule</h3>
      <ul>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
      </ul>
    </div>
    <div class="link">
      <h3>tutule</h3>
      <ul>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
