<footer class="footer">
  <div class="footer-content container">
    <div class="link">
      <h3>Redes Sociales</h3>
      <ul>
        <li>
          <a href="https://instagram.com" target="_blank">
            <img src="/src/icons/instagram.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="/src/icons/facebook.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="/src/icons/tik-tok.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="/src/icons/whatsapp.png" alt="Facebook" />
          </a>
        </li>
      </ul>
    </div>
    <div class="link">
      <h3>Ubicación</h3>
      <ul>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="/src/icons/google-maps.png" alt="Facebook" />
          </a>
        
          </a>
        </li>
      </ul>
    </div>
    <div class="link">
      <h3>Contactos</h3>
      <ul>
        <li>
          <h5> +57 3205722230</h5>
          
         
        </li>
        <li>
          
           <H5>+57 314822405</H5>
          
        </li>
        <li>
          <H5>luissayas2018@gmail.com</H5>
        </li>

      </ul>
    </div>

    <div class="link">
      <h3>información</h3>
      <ul>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
        <li>
          <a href="https://facebook.com" target="_blank">
            <img src="https://example.com/facebook-icon.png" alt="Facebook" />
          </a>
        </li>
      </ul>
    </div>

  </div>
</footer>
