<header>
    <h1>Luz del Sol</h1>
    <img src="/src/images/logo.jpeg" width="300" height="100" class="logo" >
    <nav>
      <ul>
        <li><a href="/src/index.html">Inicio</a></li>
        <li><a href="/src/seccions/nosotros.html">Sobre Nosotros</a></li>
        <li><a href="/src/seccions/servicios.html">Contacto</a></li>
        <li><a href="/src/seccions/resenas.html">Reseñas</a></li>
        <li><a href="/src/seccions//user/login.html">Login</a></li>
      </ul>
    </nav>
  </header>
  


